{% extends 'base.html' %}

{% block content %}
<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}  
.form-signin input[type="numeric"] {
  margin-bottom: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}  
.update{
    margin-top : 40px;
    margin-bottom: 8px;
    width : 80

}  
.any{
    color : Orange ; 

}
.blog-posts{
    max-width: 500px;
    width:100%;
    margin: auto;
} 
.bloglist{
    text-align: left;
}
</style>

<!-- This portion is account form-->
<div >
    <form class="form-signin" method = "post">
  

    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Account Update</h1>
    <label class ="any" for="inputName">Your Name</label>
    <input type="text" name = "name" id="inputName" 
    class="form-control" placeholder="Name" required= true value = "{{ update_form.initial.name }}">
   
    <label class ="any" for="inputContact">Your Contact Number</label>
    <input type="numeric" name = "contact" 
    pattern="[0-9]+[0-9]+[0-9]+[0-9]+[0-9]+[0-9]+[0-9]+[0-9]+[0-9]+"id="inputContact" class="form-control" 
    placeholder="Contact" required = true value ="{{ update_form.initial.contact }}">
   
    <label class ="any" for="inputEmail">Your Date of Birth</label>
    <input type="email" name = "date_of_birth" id="inputEmail" class="form-control"
    placeholder="Email address" required = true  value = "{{ update_form.initial.date_of_birth }}">
       
            {% for feild in update_form %}
                {% for error in feild.errors %}
                    <small style = "color : red" >{{ error }} </small>
                {% endfor %}
            {% endfor %}
            {% if update_form.non_field_errors %}
                <div style = "color:red">
                    <p>{{ update_form.non_field_errors }}</p>
                </div>
            {% endif %}
            
            {% if message %}
                {{message}}
            {% endif %}
    <button class="btn btn-lg btn-primary btn-block update" type="submit">Update</button>
    <a  href = "{% url 'password_change' %}">Change Password</a>
    
    </form>
</div>
<!--Account Form Portion End-->


{% endblock content %}

